/**/


/**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

nav ul li {


  color: rgb(255, 255, 255);

  margin: 0.5em;
  display: inline-block;

}

/* texto da nav*/
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);

}




li {
  list-style-type: none;
}

/**/
a {
  text-decoration: none;
  color: rgb(255, 72, 0);
}

a:hover {
  color: #ff0000;
  text-decoration: none;
}



.header-section {
  /*pegar toda a tela*/
  width: 100%;
  height: 100vh;
  /*deixar a imagem aqui*/
  background: url(../imagens/banner11.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: flex-end;
  background-color: #99B4BF;
 
}

.banner img {
  overflow: hidden;
  width: 100%;
  height: 100vh;


}


.banner-texto {

  text-align: right;
  color: aliceblue;

  width: 100%;
  height: 100%;
  padding: 25%;
  position: absolute;


}
.sobre{
  background-color: #ff0000;
}

#main-port {
  margin-top: -500px;
}

#main-sobre {

  
  color: rgb(0, 0, 0);
  font-size: larger;
}

@media screen and (max-width: 967px) {
  #main-sobre {
    margin-top: -600px;


  }
}

@media screen and (min-width: 968px) {
  #main-sobre {

    margin-top: -60px;

  }
  .msg h1{
    font-size: 90px;
  }
  .msg p{
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  #main-sobre {

    margin-top: -800px;




  }
}


section {
  margin-top: 50px;
}

.lead {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}


#menu {
  background-color: #818c2b00 !important;
  padding: 1.5rem 1rem;
  transition: all 500ms linear;
}

#menu.ativo {
  background-color: #ff7b00 !important;
  padding: .5rem 1rem;
}

/**/

.cabeçalho {

  background-color: #2aa4d800;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;


}

/**/
.cabeçalho-imagem {
  
  height: 60px;
  margin-right: 10px;
}

.cabeçalho-texto {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cabeçalho-redes-icon {
  height: 50px;

}

.cabeçalho-redes {
  color: #fff;
  flex-direction: row;


}



/**/


.msg {  
  font-size: 18px;
  padding: 15px;
  background-color: rgba(41, 41, 41, 0.089);
  color: aliceblue;
  width: 100%;  
  font-family: 'Courier New', Courier, monospace;
  backdrop-filter: blur(5px);
}

.trabalhos {
  text-align: center;
  justify-content: space-between;
  padding: 15px;
  color: #ff7b00;
  width: 100%;
  height: auto;
  background-color: #0D0D0D;
  
}



.skill {

  align-items: center;
  flex-direction: row;
  padding: 15px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
}


.skill-texto { 
  
  color:#ff7b00;

}

.barra {

  color: #fff;
  background-color: rgba(255, 94, 0, 0);

  width: 60%;
  margin-left: 18%;
}
.barra img{
  width: 30px;
  
}
.more {
  gap: 40px 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  padding: 15px;
  color: black;
  width: 100%;
  height: 100%;
  background-color: #0D0D0D;

}

.more-texto {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 150px;
  color: #ffffff;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000000;

}
.design-chamada{
  background-color: #ecececf8;
  color: rgb(0, 0, 0);
  padding: 15px;  
  width: 100%;  
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.design-img{
  background: url("../imagens/banner-colors.jpg") center;
  
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 14px;
  color: black
  
}
.design-link{
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color: rgb(0, 0, 0);
  padding: 15px;  
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  
 
}
.design-link:hover{
  
  color: rgb(255, 255, 255);
  padding: 15px;  
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.working {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
  flex-direction: row;
  padding: 15px;
  color: black;
  
  height: 100%;
  background-color: rgb(12, 12, 12);
}
.working img{
  width: 100%;
  
  
}
/**/


/**/
/*FOOTER*/
.principal-ft{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(15, 15, 15);
  height:100%;
  color: rgb(231, 231, 231);
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
  
  
}
.principal-ft a{
  color: #ffffff;
  text-decoration: none;
}
.principal-ft a:hover{
  color: #ff7b00;
}
.principal-ft img{
  width: 60px;
  height: auto;
}
.item-ft{    
  flex: 1 1  150px;    
  align-content: flex-start;

}
.item-ft img{
  width: 2.0em;
  height: auto;
}
/*FOOTER*/