@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
body{
    background-color: #012340;
}
nav ul li {
    color: rgb(255, 255, 255);
    margin: 0.5em;
    display: inline-block;
}


/* texto da nav*/

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 72, 0);
}

a:hover {
    color: #92c5f1;
    text-decoration: none;
}
.btn-first{
    background-color: #F20544;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 20px; 
    margin-top: 25px;
    
}
.btn-first:hover{
    background-color: #970028;  
      
}


.header-section {
    /*pegar toda a tela*/
    width: 100%;
    height: 100%;
    /*deixar a imagem aqui*/
    background: url(../imagens/close-up-hand-taking-notes.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
@media screen and (max-width: 768px) {
    .msg h1 {
        font-size: 55px;
    }
    .msg p {
        font-size: 16px;
        
    }
   .header-section{
       height: 100vh;
    }
         
}

@media screen and (min-width: 767px) {
    #main-sobre {
        margin-top: -600px;
    }
    .msg h1 {
        font-size: 100px;
    }
}

@media screen and (min-width: 968px) {
    #main-sobre {
        margin-top: -60px;
    }
    .msg h1 {
        font-size: 100px;
    }
    .msg p {
        font-size: 18px;
        
    }
    .text-box {
        padding: 10px;        
    }
}



@media screen and (min-width: 1024px) {
    
    .msg h1 {
        font-size: 120px;
    }
    .msg p {
        font-size: 26px;
        width: 50%;
    }
    
}


.lead {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

#menu {
    background-color: #818c2b00 !important;
    padding: 1.5rem 1rem;
    transition: all 500ms linear;
}

#menu.ativo {
    background-color: #F20544 !important;
    padding: .5rem 1rem;
}


/**/

.cabeçalho {
    background-color: #2aa4d800;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


/**/

.cabeçalho-imagem {
    height: 60px;
    margin-right: 10px;
}

.cabeçalho-texto {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cabeçalho-redes-icon {
    height: 50px;
}

.cabeçalho-redes {
    color: #fff;
    flex-direction: row;
}


/**/

.msg {
    font-size: 20px;
    padding: 150px 50px 20px 20px;
     
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* backdrop-filter: blur(0px);*/    
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.7707457983193278) 24%, rgba(0,0,0,0.5998774509803921) 65%, rgba(0,212,255,0.09147408963585435) 100%);
   
    
}
.msg h1{
    font-family: 'Bebas Neue', cursive;
}
span{
    font-weight: bold;
}
.trabalhos {
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    color: #ff7b00;
    width: 100%;
    height: auto;
    background-color: #012340;
}

.skill {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background-color: #011826;
}

.skills {
    margin: 5px;
    color: #fff;
    background-color: rgba(69, 182, 4, 0);
}

.skills img {
    width: 50px;
}

.card {
    margin: 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #043158, #043a69);
    box-shadow: 20px 20px 60px #032e53, -20px -20px 60px #053e71;
}

.more {
    gap: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    color: black;
    width: 100%;
    height: 100%;
    background-color: #012340;
}

.more-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: #ffffff;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #012340;
}

.more-texto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: #ffffff;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #011826;
}

.design-chamada {
    background-color: #ecececf8;
    color: rgb(0, 0, 0);
    padding: 15px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.design-img {
    background: url("../imagens/banner-colors.jpg") center;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 14px;
    color: black
}

.design-link {
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.design-link:hover {
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

strong {
    color: #F20544;
}

.working {
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  
    background: #012340;
}

.working-item {
    width: 900px;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 50px;
    background: linear-gradient(145deg, #01203a, #012544);
    box-shadow: 20px 20px 60px #011e36, -20px -20px 60px #01284a;
}

.working img {
    width: 100%;
}


/**/


/**/


/*FOOTER*/

.principal-ft {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #011826;
    height: 100%;
    color: rgb(231, 231, 231);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}

.principal-ft a {
    color: #ffffff;
    text-decoration: none;
}

.principal-ft a:hover {
    color: #F20544;
}

.principal-ft img {
    width: 60px;
    height: auto;
}

.item-ft {
    flex: 1 1 150px;
    align-content: flex-start;
    margin: 20px 0 200px 0;
}
.item-ft2 {
    flex: 1 1 150px;
    align-content: flex-start;
    
}
.item-ft img {
    width: 2.0em;
    height: auto;
}
.item-ft2 img {
    width: 2.0em;
    height: auto;
}


/*FOOTER*/


/* Color Theme Swatches in Hex */

.Bright-Beyond-This-Black-1-hex {
    color: #F20544;
}

.Bright-Beyond-This-Black-2-hex {
    color: #8C2656;
}

.Bright-Beyond-This-Black-3-hex {
    color: #3F618C;
}

.Bright-Beyond-This-Black-4-hex {
    color: #012340;
}

.Bright-Beyond-This-Black-5-hex {
    color: #011826;
}


/* Color Theme Swatches in RGBA */

.Bright-Beyond-This-Black-1-rgba {
    color: rgba(242, 4, 68, 1);
}

.Bright-Beyond-This-Black-2-rgba {
    color: rgba(140, 37, 85, 1);
}

.Bright-Beyond-This-Black-3-rgba {
    color: rgba(63, 96, 140, 1);
}

.Bright-Beyond-This-Black-4-rgba {
    color: rgba(1, 34, 63, 1);
}

.Bright-Beyond-This-Black-5-rgba {
    color: rgba(0, 23, 38, 1);
}


/* Color Theme Swatches in HSLA */

.Bright-Beyond-This-Black-1-hsla {
    color: hsla(343, 96, 48, 1);
}

.Bright-Beyond-This-Black-2-hsla {
    color: hsla(331, 57, 34, 1);
}

.Bright-Beyond-This-Black-3-hsla {
    color: hsla(213, 37, 39, 1);
}

.Bright-Beyond-This-Black-4-hsla {
    color: hsla(208, 96, 12, 1);
}

.Bright-Beyond-This-Black-5-hsla {
    color: hsla(202, 96, 7, 1);
}
