  

.info{   
    display: flex;    
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #b6b6b6;

    width: 350px;
    margin: 25px;
}



.blog{
    background-color: #070707;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #b6b6b6;
    width: 100%;
}


/*? card de noticias !*/
.cards{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.cards img{
    width: 100%;
    height: 190px;
}
