.footer a {
    text-decoration: none;
    color: #ffff;
}

.footer a:hover {
    text-decoration: none;
    color: #ffff;
}

.footer {
    background-color: rgb(39, 39, 39);
    color: #ffff;
    display: block;
    height: 100%;
}

.footer h5 {
    color: #f20544;
}

/*? container-redes */
.container-redes {
    align-items: center;
    align-content: center;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
}

.container-redes-texto {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(179, 0, 0, 0);
    width: 350px;
}

.container-redes-redes {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0);
    width: 300px;
}

.links-redes {
    display: flex;
    justify-content: center;
    width: 41px;
}
.container-redes-redes img {
    width: 38px;
}
/*! container-redes */

/*? container-colunas */

.container-colunas {
    margin-top: 25px;
    padding: 15px;
    background-color: rgba(32, 32, 32, 0.973);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-colunas-item {
    background-color: rgba(137, 43, 226, 0);
    width: 200px;
}

.container-colunas-item img {
    width: 120px;
}

/*! container-colunas */

/*? container-copyright */
.container-copyright {
    height: 60px;
    color: #ffff;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.up-page {
    position: absolute;
    right: 5%;
    z-index: 20;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f20544;
}

.up-page img {
    width: 50%;
}

.up-page a {
    color: #3f3f3f
}

.up-page a:hover {
    color: #ffffff;
}
/*! container-copyright */